In [44]:
%matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
# import gmplot
# from geopy.geocoders import Nominatim
# import time
# import gmaps
# import gmaps.datasets

Aijobsindustry_dataset = pd.read_csv("AIJobsIndustry_Clean_v2.csv")
Aijobsindustry_dataset

Dice_us_jobs_dataset = pd.read_csv("Dice_US_jobs_Clean_v2.csv", encoding="cp437")
Dice_us_jobs_dataset

monster_dataset = pd.read_csv("Monster_Clean.csv")
monster_dataset

##file need cleaning
# alldata_dataset = pd.read_csv("alldata.csv")
# alldata_dataset

##file needs to match format for concat
# Dice_use_Tech_filtered = pd.read_csv("Dice_US_Tech_FilteredJobData.csv")
# Dice_use_Tech_filtered

datasets_to_merge = [Aijobsindustry_dataset,Dice_us_jobs_dataset,monster_dataset]

##please confirm the concat makes sense
merged_dataset = pd.concat(datasets_to_merge)
merged_dataset

Using matplotlib backend: Qt5Agg

,Position,Company,Description,Loc_state,Loc_city,Skills,Type,Source
0,Data Science Development Program- Junior Data ...,\r\n<<<<<<< HEAD\r\nMassMutual,NaN,MA,Amherst,NaN,NaN,NaN
1,Entry-Level Cognitive / AI / Machine Learning ...,\r\nIBM,NaN,TX,Austin,NaN,NaN,NaN
2,PHP/MySQL Programmer,NaN,NaN,TX,Austin,NaN,NaN,NaN
3,Python Programmer Job,\r\nSAIC,NaN,CA,Monterey,NaN,NaN,NaN
4,BI Analyst,NaN,NaN,CA,San Francisco,NaN,NaN,NaN
5,L2- Jr. SQL Developer,"\r\nGartner, Inc.",NaN,NY,New York,NaN,NaN,NaN
6,BI Analyst,NaN,NaN,CA,San Francisco,NaN,NaN,NaN
7,Data Engineer,\r\nApple,NaN,CA,Santa Clara Valley,NaN,NaN,NaN
8,Supply Chain Data Scientist/Analyst,\r\nApple,NaN,CA,Santa Clara Valley,NaN,NaN,NaN
9,Data Insights Analyst (Advanced SQL Needed),\r\nC.H. Robinson,NaN,MN,Eden Prairie,NaN,NaN,NaN
10,Junior Data Scientist,\r\nThe World Bank,NaN,DC,Washington,NaN,NaN,NaN
11,Junior Data Scientist,\r\nCGI,NaN,DC,Washington,NaN,NaN,NaN
12,Python Junior Developer,\r\nAkuna Capital,NaN,IL,Chicago,NaN,NaN,NaN
13,"Jr. Python Developer Washington, DC",NaN,NaN,DC,Washington,NaN,NaN,NaN
14,Business Intelligence Analyst,\r\nApple,NaN,CA,Santa Clara Valley,NaN,NaN,NaN
15,Senior Data Analyst,\r\nIntellipro Group Inc.,NaN,CA,Mountain View,NaN,NaN,NaN
16,Python (Django) Web Developer with FoodTech St...,NaN,NaN,CA,San Francisco,NaN,NaN,NaN
17,Business Intelligence Analyst,\r\nApple,NaN,CA,Santa Clara Valley,NaN,NaN,NaN
18,Entry Level Python Software Developer,\r\nLeidos,NaN,MD,Baltimore,NaN,NaN,NaN
19,"Data Scientist/Quantitative Analyst, Engineeri...",\r\nGoogle,NaN,CA,Mountain View,NaN,NaN,NaN
20,Data Engineer,\r\nNational Oilwell Varco,NaN,TX,Houston,NaN,NaN,NaN
21,Product Analyst,NaN,NaN,CA,San Francisco,NaN,NaN,NaN
22,Machine Learning Engineer Intern (Spring),\r\nKAYAK,NaN,MA,Cambridge,NaN,NaN,NaN
23,Product Analyst,\r\nezCater,NaN,MA,Boston,NaN,NaN,NaN
24,Product Analyst,\r\nUPC Insurance,NaN,FL,Saint Petersburg,NaN,NaN,NaN
25,Data Analyst,\r\nPerfect World Entertainment,NaN,CA,Redwood City,NaN,NaN,NaN
26,"Director of Data Engineering - Periscope, New ...",\r\nMcKinsey & Company,NaN,GA,Atlanta,NaN,NaN,NaN
27,Data Scientist / Data Analyst,NaN,NaN,CA,Sunnyvale,NaN,NaN,NaN
28,Data Engineer,\r\nBank of America,NaN,NC,Charlotte,NaN,NaN,NaN
29,Data Analyst,\r\niCIMS,NaN,NJ,Holmdel,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
132,Lead Data Analyst Job in Dallas,NaN,RESPONSIBILITIES:Kforce has a client that is s...,TX,Dallas,NaN,"Full Time, Temporary/Contract/Project",monster.com
133,JavaScript Web Developer (Mid to Senior) Job i...,NaN,JavaScript Web Developer (Mid to Senior)Detail...,TX,Dallas,NaN,Full Time,monster.com
134,Enrollment Data Analyst Job in Irving,NaN,"Randstad is seeking Enrollment Data Analyst, f...",TX,Irving,NaN,Full Time Employee,monster.com
135,Data Warehouse and Business Intelligence Manag...,NaN,You will be responsible for managing the enter...,NaN,NaN,NaN,Full Time,monster.com
136,NonIT-Business Data Analyst Job in Irving,NaN,Job Description: Working closely with business...,TX,Irving,NaN,Full Time Temporary/Contract/Project,monster.com
137,MS SQL Server DBA Job in Dallas,NaN,The Data Base Administrator (DBA) is responsib...,TX,Dallas,NaN,Full Time,monster.com
138,Database Administrator / Advanced SQL Develope...,NaN,Job Title: Database Administrator / Advanced S...,TX,Dallas,NaN,Full Time,monster.com
139,Principal Member of Technical Staff Data Scien...,NaN,We are looking for a Principal Member of Techn...,TX,Dallas,NaN,NaN,monster.com
140,SQL Server Consultant,NaN,"This is an exciting, growth opportunity where ...",TX,Dallas,NaN,Full Time,monster.com
141,Hadoop Architect Job in Irving,NaN,As the Advanced Analytics Architect you will b...,NaN,NaN,NaN,Full Time,monster.com
142,JavaScript/HTML/CSS UI Developer Job in Irving,NaN,JavaScript/HTML5/CSS3 UI DeveloperDetailsLocat...,TX,Irving,NaN,Full Time,monster.com
143,Big Data Engineer Job in Dallas,NaN,Hadoop Developer RoleGrowing organization in ...,TX,Dallas,NaN,Full Time Employee,monster.com
144,Senior SQL Server Developer Job in Dallas,NaN,Senior-Level SQL Server Developer will be resp...,TX,Dallas,NaN,NaN,monster.com
145,Data Analyst - Excel,NaN,National healthcare organization is looking fo...,TX,Irving,NaN,Full Time Temporary/Contract/Project,monster.com
146,INPATIENT CHILD/ADOLESCENT THERAPIST Job in Do...,NaN,Foundations Behavioral Health provides innovat...,PA,Doylestown,NaN,Full Time,monster.com
147,INPATIENT AUTISM BCBA/BEHAVIORST THERAPIST Job...,NaN,Foundations Behavioral Health provides innovat...,PA,Doylestown,NaN,"Full Time, Employee",monster.com
148,RESPIRATORY THERAPIST Job in Clark,NaN,Respiratory Care PractitionerRespiratory Thera...,NJ,Clark,NaN,"Part Time, Employee",monster.com
149,PHYSICAL THERAPIST ASSISTANT Job in | Monster...,NaN,ORTHO OF THE 4 STATES Full Time Physical Thera...,NaN,NaN,NaN,Full Time,monster.com
150,Hadoop Administrator Job in Houston,NaN,Job Description Job #: 677198Role: Hadoop Adm...,TX,Houston,NaN,Full Time Employee,monster.com
151,Hadoop Developer Job in Houston,NaN,Job Description Job #: 671391Role: Hadoop Adm...,TX,Houston,NaN,Full Time Employee,monster.com
152,Senior SQL DBA Job in Austin,NaN,The Judge Group is currently in search of a Se...,TX,Austin,NaN,"Full Time, Employee",monster.com
153,Product Data Analyst Job in Glenview,NaN,Product Data AnalystThe successful candidate w...,IL,Glenview,NaN,NaN,monster.com
154,Finezi Job Application for Safety Data Analyst...,NaN,Report this job About the Job Position : Safet...,CA,San Ramon,NaN,"Full Time, Temporary/Contract/Project",monster.com
155,SQL Server Database Developer Job in Chicago,NaN,Candidates should possess a bachelor’s degree ...,IL,Chicago,NaN,Full Time,monster.com
156,Data Analyst Job in Charlotte,NaN,RESPONSIBILITIES:Kforce has a client that is s...,NC,Charlotte,NaN,"Full Time, Temporary/Contract/Project",monster.com
157,SQL Server DBA Job in Cincinnati,NaN,Lead/Specialist is viewed as an expert in the ...,OH,Cincinnati,NaN,Full Time,monster.com
158,Data Analyst Job in Cincinnati,NaN,Our client is seeking a Data Analyst to join t...,OH,Cincinnati,NaN,Full Time Employee,monster.com
159,Technical Architect - Data Scientist Job in Ci...,NaN,"Work Location: Cincinnati, OH Desired skil...",OH,Cincinnati,NaN,Full Time,monster.com
160,Technical Architect -Hadoop / Greenplum / HAWQ...,NaN,Desired Candidate Profile Must have a strong p...,OH,Cincinnati,NaN,Full Time,monster.com
161,Data Scientist,NaN,"POSITION SUMMARYMedpace is a global, full-serv...",OH,Cincinnati,NaN,Full Time,monster.com

In [ ]:
def parser(column):
    word_count = {}
    for entry in column:
        entry = re.sub('[^A-Za-z0-9 ]+', '', str(entry))
#        print(entry)
        try:
            entry = entry.replace(',','')
            word_split = entry.split()
            for word in word_split:
                if word not in word_count:
                    word_count[word] = 1
                else:
                    word_count[word] += 1
        except AttributeError:
            print("Skipping an entry due to bad data")
            continue
    print(word_count)

In [ ]:
desc = data1['description']
parser(desc)

In [ ]:
group_by_state = monster_dataset.groupby("Loc_state")
count_for_state = group_by_state.count()
count_for_state = count_for_state["Position"]
count_for_state