In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

# Aijobsindustry_dataset = pd.read_csv("AIJobsIndustry_Clean.csv")
# Aijobsindustry_dataset

# Dice_us_jobs_dataset = pd.read_csv("Dice_US_jobs_Clean.csv", encoding="cp437")
# Dice_us_jobs_dataset

monster_dataset = pd.read_csv("Monster_Clean.csv")
monster_dataset

# alldata_dataset = pd.read_csv("alldata.csv")
# alldata_dataset


# datasets_to_merge = []


# merged_dataset = pd.concat(Dice_US_jobs_Clean.csv,how="outer")

,Position,Company,Description,Loc_state,Loc_city,Skills,Type,Source
0,Technical Writer - SQL Experience Job in Torrance,NaN,Position Summary:- Need supplement SQ...,CA,Torrance,NaN,Full Time,monster.com
1,Data Analyst (Intelligence Analyst) at USPIS J...,NaN,"FSA, a rapidly growing professional services c...",NY,New York,NaN,Full Time Employee,monster.com
2,Data Analyst II Job in Richland,NaN,« back Learn More Data Analyst II Job #: 6726...,SC,Richland,NaN,Full Time Employee,monster.com
3,Sr Technical Analyst - MS ETL Job in Augusta ...,NaN,Job Title: Senior Technical AnalystLocation: A...,ME,Augusta,NaN,Full Time Temporary/Contract/Project,monster.com
4,Sr. Oracle PL/SQL Developer Job in Birmingham,NaN,PL/SQL Developer Cognizant Technology Soluti...,AL,Birmingham,NaN,Full Time Employee,monster.com
5,ETL Developer Job in Cincinnati,NaN,We are looking for ETL developers on 6 months ...,OH,Cincinnati,NaN,"Full Time, Employee",monster.com
6,Data Analyst Job in Irving,NaN,"DATA ANALYST – CONTRACT – IRVING, TX• Well ver...",TX,Irving,NaN,Full Time Temporary/Contract/Project,monster.com
7,Oracle PL/SQL Developer Job in Birmingham,NaN,PL/SQL Developer Cognizant Technology Soluti...,AL,Birmingham,NaN,Full Time Employee,monster.com
8,BI Analyst Manager Job in San Francisco,NaN,RESPONSIBILITIES:Kforce has a client seeking a...,CA,San Francisco,NaN,"Full Time, Temporary/Contract/Project",monster.com
9,Hadoop Administrator Job in Schaumburg,NaN,We are looking out for Hadoop Administrator fo...,IL,Schaumburg,NaN,Full Time Employee,monster.com
10,Product Analyst Job in Jacksonville,NaN,Job Summary:Kemper Personal & Commercial Lines...,FL,Jacksonville,NaN,Full Time Employee,monster.com
11,Sr. Machine Learning Scientist Job in Seattle,NaN,Want to be a core member of the next revolutio...,WA,Seattle,NaN,Full Time Employee,monster.com
12,Data Analyst- Plano Job in Plano,NaN,RESPONSIBILITIES:Kforce has a client seeking a...,TX,Plano,NaN,"Full Time, Temporary/Contract/Project",monster.com
13,GENPACT headstrong Capital Markets Job Applica...,NaN,Report this job About the Job Role ...,GA,Atlanta,NaN,"Full Time, Employee",monster.com
14,Thor Group Job Application for iOS/SQL Coder/D...,NaN,Report this job About the Job iOS/SQL Coder/D...,GA,Norcross,NaN,"Full Time, Employee",monster.com
15,ETL Designer/Developer Job in Atlanta,NaN,Experis currently has a Global Fortune 500 cli...,GA,Atlanta,NaN,Full Time Temporary/Contract/Project,monster.com
16,Business Analyst / Tableau Developer Job in At...,NaN,Our client is looking for a Business Analyst /...,GA,Atlanta,NaN,"Full Time, Employee",monster.com
17,HAI Prevention Data Analyst Job in Atlanta,NaN,Description Are you interested in the opport...,GA,Atlanta,NaN,Full Time Employee,monster.com
18,ETL Developer Job in Cincinnati,NaN,NO C2C FOR THIS REQUIREMENT Our LARGE and stab...,OH,Cincinnati,NaN,Full Time,monster.com
19,Hadoop Administrator Job in Houston,NaN,Job Description Job #: 677198Role: Hadoop Adm...,TX,Houston,NaN,Full Time Employee,monster.com
20,Hadoop Developer Job in Houston,NaN,Job Description Job #: 671391Role: Hadoop Adm...,TX,Houston,NaN,Full Time Employee,monster.com
21,Director of Business Intelligence Job in Sunrise,NaN,This is Your Opportunity to Join One of the Fa...,FL,Sunrise,NaN,Full Time Employee,monster.com
22,Business Intelligence Analyst (Transportation)...,NaN,Job Summary:This position has direct responsib...,IN,Warsaw,NaN,Full Time Employee,monster.com
23,Data Analyst Job in Houston,NaN,One of our fastest growing financial services ...,TX,Houston,NaN,Full Time Temporary/Contract/Project,monster.com
24,Sr. Business Intelligence Architect Job in Mil...,NaN,Sr. Business Intelligence Architect Uline – Sh...,WI,Milwaukee,NaN,"Full Time , Employee",monster.com
25,Tableau Developer Job in Seattle,NaN,RESPONSIBILITIES:A Kforce local healthcare cli...,WA,Seattle,NaN,"Full Time, Temporary/Contract/Project",monster.com
26,Senior Data Scientist,NaN,"Senior Data Scientist - Python, R, Julia Job i...",CA,San Francisco,NaN,NaN,monster.com
27,BI / ETL Developer Job in Irving,NaN,**NO third party candidates will be accepted!*...,TX,Irving,NaN,Full Time,monster.com
28,Sr. MySQL DBA - WILL RELOCATE Job function wra...,NaN,Stellar opportunity with an exciting startup h...,NaN,NaN,NaN,Full Time,monster.com
29,Mule API Lead/Architect Job in Cary,NaN,Cognizant Integration and Process ManagementI...,NC,Cary,NaN,Full Time Employee,monster.com
...,...,...,...,...,...,...,...,...
132,Lead Data Analyst Job in Dallas,NaN,RESPONSIBILITIES:Kforce has a client that is s...,TX,Dallas,NaN,"Full Time, Temporary/Contract/Project",monster.com
133,JavaScript Web Developer (Mid to Senior) Job i...,NaN,JavaScript Web Developer (Mid to Senior)Detail...,TX,Dallas,NaN,Full Time,monster.com
134,Enrollment Data Analyst Job in Irving,NaN,"Randstad is seeking Enrollment Data Analyst, f...",TX,Irving,NaN,Full Time Employee,monster.com
135,Data Warehouse and Business Intelligence Manag...,NaN,You will be responsible for managing the enter...,NaN,NaN,NaN,Full Time,monster.com
136,NonIT-Business Data Analyst Job in Irving,NaN,Job Description: Working closely with business...,TX,Irving,NaN,Full Time Temporary/Contract/Project,monster.com
137,MS SQL Server DBA Job in Dallas,NaN,The Data Base Administrator (DBA) is responsib...,TX,Dallas,NaN,Full Time,monster.com
138,Database Administrator / Advanced SQL Develope...,NaN,Job Title: Database Administrator / Advanced S...,TX,Dallas,NaN,Full Time,monster.com
139,Principal Member of Technical Staff Data Scien...,NaN,We are looking for a Principal Member of Techn...,TX,Dallas,NaN,NaN,monster.com
140,SQL Server Consultant,NaN,"This is an exciting, growth opportunity where ...",TX,Dallas,NaN,Full Time,monster.com
141,Hadoop Architect Job in Irving,NaN,As the Advanced Analytics Architect you will b...,NaN,NaN,NaN,Full Time,monster.com
142,JavaScript/HTML/CSS UI Developer Job in Irving,NaN,JavaScript/HTML5/CSS3 UI DeveloperDetailsLocat...,TX,Irving,NaN,Full Time,monster.com
143,Big Data Engineer Job in Dallas,NaN,Hadoop Developer RoleGrowing organization in ...,TX,Dallas,NaN,Full Time Employee,monster.com
144,Senior SQL Server Developer Job in Dallas,NaN,Senior-Level SQL Server Developer will be resp...,TX,Dallas,NaN,NaN,monster.com
145,Data Analyst - Excel,NaN,National healthcare organization is looking fo...,TX,Irving,NaN,Full Time Temporary/Contract/Project,monster.com
146,INPATIENT CHILD/ADOLESCENT THERAPIST Job in Do...,NaN,Foundations Behavioral Health provides innovat...,PA,Doylestown,NaN,Full Time,monster.com
147,INPATIENT AUTISM BCBA/BEHAVIORST THERAPIST Job...,NaN,Foundations Behavioral Health provides innovat...,PA,Doylestown,NaN,"Full Time, Employee",monster.com
148,RESPIRATORY THERAPIST Job in Clark,NaN,Respiratory Care PractitionerRespiratory Thera...,NJ,Clark,NaN,"Part Time, Employee",monster.com
149,PHYSICAL THERAPIST ASSISTANT Job in | Monster...,NaN,ORTHO OF THE 4 STATES Full Time Physical Thera...,NaN,NaN,NaN,Full Time,monster.com
150,Hadoop Administrator Job in Houston,NaN,Job Description Job #: 677198Role: Hadoop Adm...,TX,Houston,NaN,Full Time Employee,monster.com
151,Hadoop Developer Job in Houston,NaN,Job Description Job #: 671391Role: Hadoop Adm...,TX,Houston,NaN,Full Time Employee,monster.com
152,Senior SQL DBA Job in Austin,NaN,The Judge Group is currently in search of a Se...,TX,Austin,NaN,"Full Time, Employee",monster.com
153,Product Data Analyst Job in Glenview,NaN,Product Data AnalystThe successful candidate w...,IL,Glenview,NaN,NaN,monster.com
154,Finezi Job Application for Safety Data Analyst...,NaN,Report this job About the Job Position : Safet...,CA,San Ramon,NaN,"Full Time, Temporary/Contract/Project",monster.com
155,SQL Server Database Developer Job in Chicago,NaN,Candidates should possess a bachelor’s degree ...,IL,Chicago,NaN,Full Time,monster.com
156,Data Analyst Job in Charlotte,NaN,RESPONSIBILITIES:Kforce has a client that is s...,NC,Charlotte,NaN,"Full Time, Temporary/Contract/Project",monster.com
157,SQL Server DBA Job in Cincinnati,NaN,Lead/Specialist is viewed as an expert in the ...,OH,Cincinnati,NaN,Full Time,monster.com
158,Data Analyst Job in Cincinnati,NaN,Our client is seeking a Data Analyst to join t...,OH,Cincinnati,NaN,Full Time Employee,monster.com
159,Technical Architect - Data Scientist Job in Ci...,NaN,"Work Location: Cincinnati, OH Desired skil...",OH,Cincinnati,NaN,Full Time,monster.com
160,Technical Architect -Hadoop / Greenplum / HAWQ...,NaN,Desired Candidate Profile Must have a strong p...,OH,Cincinnati,NaN,Full Time,monster.com
161,Data Scientist,NaN,"POSITION SUMMARYMedpace is a global, full-serv...",OH,Cincinnati,NaN,Full Time,monster.com

In [37]:
group_by_state = monster_dataset.groupby("Loc_state")
count_for_state = group_by_state.count()
count_for_state = count_for_state["Position"]
count_for_state

Loc_state
AL     2
CA    11
CO     1
DC     1
DE     1
FL     4
GA     7
IL     4
IN     2
KS     2
LA     2
MA     6
MD     1
ME     1
MN     2
NC     4
NE     2
NJ     3
NV     3
NY     7
OH    28
OK     1
PA     4
SC     2
TX    33
VA     3
WA     3
WI     4
Name: Position, dtype: int64