In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

Aijobsindustry_dataset = pd.read_csv("AIJobsIndustry_Clean.csv")
Aijobsindustry_dataset


Dice_us_jobs_dataset = pd.read_csv("Dice_US_jobs_Clean.csv", encoding="cp437")
Dice_us_jobs_dataset

monster_dataset = pd.read_csv("Monster_Clean.csv")
monster_dataset

,country,country_code,has_expired,job_board,Description,Position,job_type,Loc_city,Loc_state,organization,page_url,Salary,sector,uniq_id
0,United States of America,US,No,jobs.monster.com,Position Summary:- Need supplement SQ...,Technical Writer - SQL Experience Job in Torrance,Full Time,Torrance,CA,NaN,http://jobview.monster.com/Technical-Writer-SQ...,NaN,NaN,3e5593b632c5d0e67aadf85a664b4fdd
1,United States of America,US,No,jobs.monster.com,"FSA, a rapidly growing professional services c...",Data Analyst (Intelligence Analyst) at USPIS J...,Full Time Employee,New York,NY,Government and Military,http://jobview.monster.com/data-analyst-intell...,26.92 - 26.92 $ /hour,Security/Protective Services,0ffbcc42063bd6729cbbbaf693b4073e
2,United States of America,US,No,jobs.monster.com,« back Learn More Data Analyst II Job #: 6726...,Data Analyst II Job in Richland,Full Time Employee,Richland,SC,Computer/IT Services,http://jobview.monster.com/data-analyst-ii-job...,NaN,Experienced (Non-Manager),08ae44d10a34366c0ff9133de7283948
3,United States of America,US,No,jobs.monster.com,Job Title: Senior Technical AnalystLocation: A...,Sr Technical Analyst - MS ETL Job in Augusta ...,Full Time Temporary/Contract/Project,Augusta,ME,Computer/IT Services,http://jobview.monster.com/sr-technical-analys...,NaN,IT/Software Development,70d3f8e575091b8388ed6ae04f842b28
4,United States of America,US,No,jobs.monster.com,PL/SQL Developer Cognizant Technology Soluti...,Sr. Oracle PL/SQL Developer Job in Birmingham,Full Time Employee,Birmingham,AL,All,http://jobview.monster.com/sr-oracle-pl-sql-de...,NaN,IT/Software Development,938d4c519bd1aac24a2ba8f003b8f1b0
5,United States of America,US,No,jobs.monster.com,We are looking for ETL developers on 6 months ...,ETL Developer Job in Cincinnati,"Full Time, Employee",Cincinnati,OH,Computer/IT Services,http://jobview.monster.com/etl-developer-job-c...,NaN,IT/Software Development,ef147f85583124f427edf868ceb1563e
6,United States of America,US,No,jobs.monster.com,"DATA ANALYST – CONTRACT – IRVING, TX• Well ver...",Data Analyst Job in Irving,Full Time Temporary/Contract/Project,Irving,TX,Computer/IT Services,http://jobview.monster.com/data-analyst-job-ir...,0.00 - 20.00 $ /hour,IT/Software Development,fc43fddd648a256769af027388dbb1fc
7,United States of America,US,No,jobs.monster.com,PL/SQL Developer Cognizant Technology Soluti...,Oracle PL/SQL Developer Job in Birmingham,Full Time Employee,Birmingham,AL,All,http://jobview.monster.com/oracle-pl-sql-devel...,NaN,IT/Software Development,3e416915e570c4a939952b4d48ec8115
8,United States of America,US,No,jobs.monster.com,RESPONSIBILITIES:Kforce has a client seeking a...,BI Analyst Manager Job in San Francisco,"Full Time, Temporary/Contract/Project",San Francisco,CA,NaN,http://jobview.monster.com/bi-analyst-manager-...,NaN,Manager (Manager/Supervisor of Staff),01dd9902234ec7d162df575d1472d493
9,United States of America,US,No,jobs.monster.com,We are looking out for Hadoop Administrator fo...,Hadoop Administrator Job in Schaumburg,Full Time Employee,Schaumburg,IL,All,http://jobview.monster.com/hadoop-administrato...,NaN,IT/Software Development,9a2e472f5e615efadd888fa3bd2cc46f
10,United States of America,US,No,jobs.monster.com,Job Summary:Kemper Personal & Commercial Lines...,Product Analyst Job in Jacksonville,Full Time Employee,Jacksonville,FL,Other/Not Classified,http://jobview.monster.com/product-analyst-job...,NaN,IT/Software Development,3a405f4380227f80e8b63190b6b251a1
11,United States of America,US,No,jobs.monster.com,Want to be a core member of the next revolutio...,Sr. Machine Learning Scientist Job in Seattle,Full Time Employee,Seattle,WA,NaN,http://jobview.monster.com/sr-machine-learning...,NaN,Biotech/R&D/Science,f8df49f586c1040f86e18d51ef7ee562
12,United States of America,US,No,jobs.monster.com,RESPONSIBILITIES:Kforce has a client seeking a...,Data Analyst- Plano Job in Plano,"Full Time, Temporary/Contract/Project",Plano,TX,NaN,http://jobview.monster.com/data-analyst-plano-...,NaN,Experienced (Non-Manager),fbb20081308b534c7a52708935448a05
13,United States of America,US,No,jobs.monster.com,Report this job About the Job Role ...,GENPACT headstrong Capital Markets Job Applica...,"Full Time, Employee",Atlanta,GA,NaN,http://jobview.monster.com/etl-architect-job-a...,NaN,NaN,ba5ca9b994d479cbecebb8ea60e1b034
14,United States of America,US,No,jobs.monster.com,Report this job About the Job iOS/SQL Coder/D...,Thor Group Job Application for iOS/SQL Coder/D...,"Full Time, Employee",Norcross,GA,Construction - Industrial Facilities and Infra...,http://jobview.monster.com/ios-sql-coder-devel...,NaN,NaN,c31240e1be85badfbe792727375aaeac
15,United States of America,US,No,jobs.monster.com,Experis currently has a Global Fortune 500 cli...,ETL Designer/Developer Job in Atlanta,Full Time Temporary/Contract/Project,Atlanta,GA,NaN,http://jobview.monster.com/etl-designer-develo...,NaN,IT/Software Development,29f965a0e5485661fb0e2e89e004a5ad
16,United States of America,US,No,jobs.monster.com,Our client is looking for a Business Analyst /...,Business Analyst / Tableau Developer Job in At...,"Full Time, Employee",Atlanta,GA,Computer/IT Services,http://jobview.monster.com/business-analyst-ta...,NaN,IT/Software Development,74a2ef6fba788965b84f9594871c7de9
17,United States of America,US,No,jobs.monster.com,Description Are you interested in the opport...,HAI Prevention Data Analyst Job in Atlanta,Full Time Employee,Atlanta,GA,NaN,http://jobview.monster.com/hai-prevention-data...,NaN,IT/Software Development,4ec8f3710926259757a74bf3e4290a77
18,United States of America,US,No,jobs.monster.com,NO C2C FOR THIS REQUIREMENT Our LARGE and stab...,ETL Developer Job in Cincinnati,Full Time,Cincinnati,OH,NaN,http://jobview.monster.com/etl-developer-job-c...,NaN,NaN,c75d22f1a8affe57781255d634d422ec
19,United States of America,US,No,jobs.monster.com,Job Description Job #: 677198Role: Hadoop Adm...,Hadoop Administrator Job in Houston,Full Time Employee,Houston,TX,Computer/IT Services,http://jobview.monster.com/hadoop-administrato...,NaN,Experienced (Non-Manager),d0ead3301c503731ed99e4ff630afd26
20,United States of America,US,No,jobs.monster.com,Job Description Job #: 671391Role: Hadoop Adm...,Hadoop Developer Job in Houston,Full Time Employee,Houston,TX,Computer/IT Services,http://jobview.monster.com/hadoop-developer-jo...,NaN,Experienced (Non-Manager),4a207fe8fdd61bd6fdc9a1896c495281
21,United States of America,US,No,jobs.monster.com,This is Your Opportunity to Join One of the Fa...,Director of Business Intelligence Job in Sunrise,Full Time Employee,Sunrise,FL,NaN,http://jobview.monster.com/director-of-busines...,NaN,Business/Strategic Management,5d41fedbf766a13838cf330fee70220d
22,United States of America,US,No,jobs.monster.com,Job Summary:This position has direct responsib...,Business Intelligence Analyst (Transportation)...,Full Time Employee,Warsaw,IN,NaN,http://jobview.monster.com/business-intelligen...,NaN,Business/Strategic Management,76d098970160929fe81bcacff9c37e4b
23,United States of America,US,No,jobs.monster.com,One of our fastest growing financial services ...,Data Analyst Job in Houston,Full Time Temporary/Contract/Project,Houston,TX,NaN,http://jobview.monster.com/data-analyst-job-ho...,NaN,Accounting/Finance/Insurance,6bf6d428f2c79379f0c819d0f24063aa
24,United States of America,US,No,jobs.monster.com,Sr. Business Intelligence Architect Uline – Sh...,Sr. Business Intelligence Architect Job in Mil...,"Full Time , Employee",Milwaukee,WI,Business Services - Other,http://jobview.monster.com/sr-business-intelli...,NaN,Experienced (Non-Manager),b1a648c979291bbf9eea5fb746197a58
25,United States of America,US,No,jobs.monster.com,RESPONSIBILITIES:A Kforce local healthcare cli...,Tableau Developer Job in Seattle,"Full Time, Temporary/Contract/Project",Seattle,WA,NaN,http://jobview.monster.com/Tableau-Developer-J...,NaN,Experienced (Non-Manager),16002d37b9d3e835db04f25450caad6a
26,United States of America,US,No,jobs.monster.com,"Senior Data Scientist - Python, R, Julia Job i...",Senior Data Scientist,NaN,San Francisco,CA,NaN,http://jobview.monster.com/Senior-Data-Scienti...,NaN,NaN,1d628e2e85753239e989c38a3bb44ea0
27,United States of America,US,No,jobs.monster.com,**NO third party candidates will be accepted!*...,BI / ETL Developer Job in Irving,Full Time,Irving,TX,NaN,http://jobview.monster.com/BI-ETL-Developer-Jo...,NaN,NaN,41f022b217deabbe97df6ef859563581
28,United States of America,US,No,jobs.monster.com,Stellar opportunity with an exciting startup h...,Sr. MySQL DBA - WILL RELOCATE Job function wra...,Full Time,NaN,NaN,NaN,http://jobview.monster.com/Sr-MySQL-DBA-WILL-R...,"120,000.00 - 130,000.00 $ /year",NaN,932ba1043d56b9b69afeccfd870376ec
29,United States of America,US,No,jobs.monster.com,Cognizant Integration and Process ManagementI...,Mule API Lead/Architect Job in Cary,Full Time Employee,Cary,NC,All,http://jobview.monster.com/Mule-API-Lead-Archi...,NaN,IT/Software Development,68b3234f8df7344eb9984388a8a445f4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,United States of America,US,No,jobs.monster.com,RESPONSIBILITIES:Kforce has a client that is s...,Lead Data Analyst Job in Dallas,"Full Time, Temporary/Contract/Project",Dallas,TX,NaN,http://jobview.monster.com/Lead-Data-Analyst-J...,16.00 - 16.00 $ /hour,Manager (Manager/Supervisor of Staff),66bf3c0815fa93537cda38d147552f1a
133,United States of America,US,No,jobs.monster.com,JavaScript Web Developer (Mid to Senior)Detail...,JavaScript Web Developer (Mid to Senior) Job i...,Full Time,Dallas,TX,NaN,http://jobview.monster.com/JavaScript-Web-Deve...,NaN,Experienced (Non-Manager),e91cd6d88d0e5ff2db26c7cf9f743c4c
134,United States of America,US,No,jobs.monster.com,"Randstad is seeking Enrollment Data Analyst, f...",Enrollment Data Analyst Job in Irving,Full Time Employee,Irving,TX,Healthcare ServicesMedical Devices and Supplies,http://jobview.monster.com/Enrollment-Data-Ana...,22.66 - 22.66 $ /hour,NaN,ec0a5fc9f3c46947a4165febd137526f
135,United States of America,US,No,jobs.monster.com,You will be responsible for managing the enter...,Data Warehouse and Business Intelligence Manag...,Full Time,NaN,NaN,Retail,http://jobview.monster.com/Data-Warehouse-Busi...,NaN,Sales/Retail/Business Development,946475b39765db27db9133aec5c5a111
136,United States of America,US,No,jobs.monster.com,Job Description: Working closely with business...,NonIT-Business Data Analyst Job in Irving,Full Time Temporary/Contract/Project,Irving,TX,NaN,http://jobview.monster.com/NonIT-Business-Data...,NaN,IT/Software Development,9ea4edef1e0c70015286b00b54408dc4
137,United States of America,US,No,jobs.monster.com,The Data Base Administrator (DBA) is responsib...,MS SQL Server DBA Job in Dallas,Full Time,Dallas,TX,NaN,http://jobview.monster.com/MS-SQL-Server-DBA-J...,"90,000.00 - 90,000.00 $ /year",NaN,a2874b9b6e10d26c71bbb09a2f847bd1
138,United States of America,US,No,jobs.monster.com,Job Title: Database Administrator / Advanced S...,Database Administrator / Advanced SQL Develope...,Full Time,Dallas,TX,All,http://jobview.monster.com/Database-Administra...,NaN,Experienced (Non-Manager),6a37c288cc735f487e7dcddbbb451d8a
139,United States of America,US,No,jobs.monster.com,We are looking for a Principal Member of Techn...,Principal Member of Technical Staff Data Scien...,NaN,Dallas,TX,NaN,http://jobview.monster.com/Principal-Member-of...,NaN,NaN,180d9b2889b4d71816870b11842ba351
140,United States of America,US,No,jobs.monster.com,"This is an exciting, growth opportunity where ...",SQL Server Consultant,Full Time,Dallas,TX,All,http://jobview.monster.com/SQL-Server-Consulta...,"60,000.00 - 80,000.00 $ /year",Experienced (Non-Manager),a57061ec336257a6cf50436d4fd43442
141,United States of America,US,No,jobs.monster.com,As the Advanced Analytics Architect you will b...,Hadoop Architect Job in Irving,Full Time,NaN,NaN,Retail,http://jobview.monster.com/Hadoop-Architect-Jo...,NaN,IT/Software Development,c86259f0c3bd8dc157e42d6d7a15df58
142,United States of America,US,No,jobs.monster.com,JavaScript/HTML5/CSS3 UI DeveloperDetailsLocat...,JavaScript/HTML/CSS UI Developer Job in Irving,Full Time,Irving,TX,NaN,http://jobview.monster.com/JavaScript-HTML5-CS...,NaN,Experienced (Non-Manager),19306edf79d083c6bbec069cc8e26f73
143,United States of America,US,No,jobs.monster.com,Hadoop Developer RoleGrowing organization in ...,Big Data Engineer Job in Dallas,Full Time Employee,Dallas,TX,NaN,http://jobview.monster.com/Big-Data-Engineer-J...,"100,000.00 - 140,000.00 $ /year",IT/Software Development,4fed869c061ebbf9cd6aa39779916b57
144,United States of America,US,No,jobs.monster.com,Senior-Level SQL Server Developer will be resp...,Senior SQL Server Developer Job in Dallas,NaN,Dallas,TX,NaN,http://jobview.monster.com/Senior-SQL-Server-D...,NaN,NaN,469ed4f185cc8828043034938ecbf906
145,United States of America,US,No,jobs.monster.com,National healthcare organization is looking fo...,Data Analyst - Excel,Full Time Temporary/Contract/Project,Irving,TX,Computer/IT Services,http://jobview.monster.com/Data-Analyst-Excel-...,20.00 - 25.00 $ /hour,IT/Software Development,dfafc4cc3b155428c70ecc2eecf9c05c
146,United States of America,US,No,jobs.monster.com,Foundations Behavioral Health provides innovat...,INPATIENT CHILD/ADOLESCENT THERAPIST Job in Do...,Full Time,Doylestown,PA,Healthcare Services,http://jobview.monster.com/INPATIENT-CHILD-ADO...,NaN,Experienced (Non-Manager),5adb5ac4dd975a12e486fa0503a2103c
147,United States of America,US,No,jobs.monster.com,Foundations Behavioral Health provides innovat...,INPATIENT AUTISM BCBA/BEHAVIORST THERAPIST Job...,"Full Time, Employee",Doylestown,PA,Healthcare Services,http://jobview.monster.com/INPATIENT-AUTISM-BC...,NaN,Medical/Health,2e2168198ce8fe57590d177581f8b14e
148,United States of America,US,No,jobs.monster.com,Respiratory Care PractitionerRespiratory Thera...,RESPIRATORY THERAPIST Job in Clark,"Part Time, Employee",Clark,NJ,Healthcare Services,http://jobview.monster.com/RESPIRATORY-THERAPI...,NaN,Medical/Health,3d7e5f5ecf820da0e854f175743d1053
149,United States of America,US,No,jobs.monster.com,ORTHO OF THE 4 STATES Full Time Physical Thera...,PHYSICAL THERAPIST ASSISTANT Job in | Monster...,Full Time,NaN,NaN,Medical Devices and Supplies,http://jobview.local-jobs.monster.com/PHYSICAL...,NaN,Experienced (Non-Manager),f2cd2be9fccb5fa4e3026d5e7fc3ae81
150,United States of America,US,No,jobs.monster.com,Job Description Job #: 677198Role: Hadoop Adm...,Hadoop Administrator Job in Houston,Full Time Employee,Houston,TX,Computer/IT Services,http://jobview.monster.com/hadoop-administrato...,NaN,Experienced (Non-Manager),68f885866abc75a66fa7bcfc50507f01
151,United States of America,US,No,jobs.monster.com,Job Description Job #: 671391Role: Hadoop Adm...,Hadoop Developer Job in Houston,Full Time Employee,Houston,TX,Computer/IT Services,http://jobview.monster.com/hadoop-developer-jo...,NaN,Experienced (Non-Manager),eeee9e89d7449770738127c9718fc961
152,United States of America,US,No,jobs.monster.com,The Judge Group is currently in search of a Se...,Senior SQL DBA Job in Austin,"Full Time, Employee",Austin,TX,Computer/IT Services,http://jobview.monster.com/senior-sql-dba-job-...,NaN,IT/Software Development,0f30c65305716f83bb7ba10e58a9daaa
153,United States of America,US,No,jobs.monster.com,Product Data AnalystThe successful candidate w...,Product Data Analyst Job in Glenview,NaN,Glenview,IL,Manufacturing - Other,http://jobview.monster.com/product-data-analys...,NaN,NaN,a93475ff6e9c65c203128847d8574326
154,United States of America,US,No,jobs.monster.com,Report this job About the Job Position : Safet...,Finezi Job Application for Safety Data Analyst...,"Full Time, Temporary/Contract/Project",San Ramon,CA,NaN,http://jobview.monster.com/safety-data-analyst...,NaN,NaN,9c258db67137236cf62729afe9f846d0
155,United States of America,US,No,jobs.monster.com,Candidates should possess a bachelor’s degree ...,SQL Server Database Developer Job in Chicago,Full Time,Chicago,IL,NaN,http://jobview.monster.com/SQL-Server-Database...,"60,000.00 - 75,000.00 $ /year",Experienced (Non-Manager),1b3bb472c7bcb826e805b780fae9f5f6
156,United States of America,US,No,jobs.monster.com,RESPONSIBILITIES:Kforce has a client that is s...,Data Analyst Job in Charlotte,"Full Time, Temporary/Contract/Project",Charlotte,NC,NaN,http://jobview.monster.com/Data-Analyst-Job-Ch...,NaN,Experienced (Non-Manager),e5542bc034935e7ba778726e3dfd1101
157,United States of America,US,No,jobs.monster.com,Lead/Specialist is viewed as an expert in the ...,SQL Server DBA Job in Cincinnati,Full Time,Cincinnati,OH,Financial Services,http://jobview.monster.com/SQL-Server-DBA-Job-...,"95,000.00 - 115,000.00 $ /year",NaN,649da1b0b76559a4973f26ce9c51bba0
158,United States of America,US,No,jobs.monster.com,Our client is seeking a Data Analyst to join t...,Data Analyst Job in Cincinnati,Full Time Employee,Cincinnati,OH,Computer/IT Services,http://jobview.monster.com/Data-Analyst-Job-Ci...,NaN,Database Development/Administration,5a4532ed968841273f345e10db352c22
159,United States of America,US,No,jobs.monster.com,"Work Location: Cincinnati, OH Desired skil...",Technical Architect - Data Scientist Job in Ci...,Full Time,Cincinnati,OH,Computer/IT Services,http://jobview.monster.com/Technical-Architect...,NaN,Experienced (Non-Manager),0e314de86d1afef5c4b9e800bb9c5cf2
160,United States of America,US,No,jobs.monster.com,Desired Candidate Profile Must have a strong p...,Technical Architect -Hadoop / Greenplum / HAWQ...,Full Time,Cincinnati,OH,Computer Software,http://jobview.monster.com/Technical-Architect...,NaN,Experienced (Non-Manager),7661f6e01428abac29e7220e96c76854
161,United States of America,US,No,jobs.monster.com,"POSITION SUMMARYMedpace is a global, full-serv...",Data Scientist,Full Time,Cincinnati,OH,Healthcare Services,http://jobview.monster.com/Data-Scientist-Anal...,NaN,Experienced (Non-Manager),b14d498931ace3345bae7f7de148b5af