In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [9]:
csv_in_path1 = os.path.join("alldata.csv")
#csv_in_path2 = os.path.join("AIJobsIndustry_Clean.csv")
#csv_in_path3 = os.path.join("Dice_US_jobs_Clean.csv")
data1 = pd.read_csv(csv_in_path1)
#data2 = pd.read_csv(csv_in_path2)
#data3 = pd.read_csv(csv_in_path3)
data1.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [16]:
desc = data1['description']
print(desc.dtypes)
print(desc.head())

object
0    Development Director\nALS Therapy Development ...
1    Job Description\n\n"The road that leads to acc...
2    Growing company located in the Atlanta, GA are...
3    DEPARTMENT: Program OperationsPOSITION LOCATIO...
4    DESCRIPTION\nThe Emory University Department o...
Name: description, dtype: object
6964

In [32]:
def parser(column):
    word_count = {}
    for entry in column:    
        entry = entry.replace(',','')
        word_split = entry.split()
        for word in word_split:
            if word not in word_count:
                word_count[word] = 1
            else:
                word_count[word] += 1
    print(word_count)
desc = data1['description']
print(desc.head())
#parser(str(desc))

0    Development Director\nALS Therapy Development ...
1    Job Description\n\n"The road that leads to acc...
2    Growing company located in the Atlanta, GA are...
3    DEPARTMENT: Program OperationsPOSITION LOCATIO...
4    DESCRIPTION\nThe Emory University Department o...
Name: description, dtype: object